body{
    margin: 0;
    background-color:var(--primary-bg-color);
    color:var(--primary-text-color);
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 14px;
}

img{display: block;}

.list{list-style: none;}

.link{text-decoration: none;}
