:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --hero-text-color:#FFFFFF;
    --hero-bc-color:#C4C4C4;;
    --border-line-color: #EEEEEE;
    --footer-bc-color: #2F303A;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}