.features__block{
    padding-top: 94px;
}     

.specialty__list{
    display: flex;
}

.specialty__box{
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialty__item{
    max-width: 270px;
}

.specialty__list .item + .item{
    margin-left: 30px;
}

.specialty__subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
}

.specialty__text{
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--primary-text-color);
}